# streamlit
# deepface
# opencv-python-headless
# mtcnn
# scikit-learn
# numpy
# pandas
protobuf==3.19.6
keras==2.10.0
streamlit==1.33.0
deepface==0.0.79
opencv-python-headless==4.9.0.80
mtcnn==0.1.1
scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.2
protobuf==3.20.3
